@media screen and (max-width : 922px) {
    
}

@media screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .img-hero {
        width: 65%;
        height: auto;
    }
}

@media screen and (max-width : 350px) {
    
}